/* main settings */
:root{
    --main-font: "Open Sans", serif;
    --text-fixed: #ffffff;
    --bg-footer: #000000;
}

@media (prefers-color-scheme: dark){
    :root{
        --bg-color: #0e0e0e;
        --bg-color-2: #bfbfbf;

        --bg-input: #262626;

        --txt-color: #ffffff;
        --txt-color-2: #000000;

        --border-color: #3fe593;

        --color-1: #000000;
        --color-2: #262626;
        --color-3: #0a0a0a;
        --color-4: #6f6f6f;
        --color-5: #02031a;
        --color-6: #182c4c;
        --color-7: #3f0bdb;
        --color-8: #23067c;
        --color-9: #051d44;
    }
}

@media (prefers-color-scheme: light){
    :root{
        --bg-color: #ffffff;
        --bg-color-2: #021b2b;

        --bg-input: #f8f8ff;

        --txt-color: #000000;
        --txt-color-2: #ffffff;

        --border-color: #000000;

        --color-1: #ebdfcc;
        --color-2: #ff0841;
        --color-3: #b10c43;
        --color-4: #021b2b;
        --color-5: #02031a;
        --color-6: #dbf73b;
        --color-7: #0fc3e8;
        --color-8: #0194be;
        --color-9: #aac709;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    width: auto;
    color: var(--txt-color);
    text-align: center;
    font-family: var(--main-font);
    box-sizing: border-box;

    /* Settings for position the footter at bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container to help the settings in body for position the footer at bottom */
.container{
    flex: 1;
}

h1, h2, p {
    padding: 5px auto;
    margin: 0;
}


p {
    font-size: 1.25rem;
    margin: auto;
    padding: auto;
}

/* header */

.header{
    padding: 2% 0 0 5%;
    display: flex;
    justify-content: left;
}

.nav-container{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: var(--color-1);
    width: 100px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    transition: ease-in;
}

.nav-container:hover{
    background-color: var(--bg-color-2);
    
    .nav-container-link{
        color: var(--txt-color-2);
    }

    .icon-home{
        box-sizing: border-box;
        display: block;
        width: 2rem;
        height: 2rem;
        padding-left: 2rem;
        background: url(../../assets/img/icons/home-light.svg);
    }
}

.nav-btn{
    display: flex;
    align-items: center;
}

.icon-home{
    width: 2rem;
    height: 2rem;
}

.nav-container-link{
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--txt-color);
    text-decoration: none;
}

/* main tittles */

.title{
    font-size: 3.75rem;
    margin: auto;
}


.subtittle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}


/* main references */

.main-container {
    margin: 20px auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.reference-icon{
    width: 32px;
    height: 32px;
}

.icon-source {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    padding: 10px;
    transition: all 0.3s;
}

.reference-container{
    background-color: var(--color-1);
    border-radius: 10px;
    border-color: var(--border-color);
    border-style: solid;
    border-width: 3px;
    transition: all 0.5s;
}

.reference-container:hover{
    background-color: var(--bg-color-2);


    .text-in-container {
        color: var(--txt-color-2);
    }

    .icon-source {
        display: block;
        margin: auto;
        width: 70px;
        height: 70px;
        padding: 10px;
    }
}

.text-in-container{
    color:var(--txt-color);
    padding: 5px;
    margin: 0;
    font-size: 20px;
}

.link-to-form {
    text-decoration: none;
}


/* Forms */
.inputs-container{
    display: block;
}

.box-of-text {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--border-color);
    background-color: var(--bg-input);
    font-size: 13px;
}

label {
    color: var(--txt-color);
    font-size: 18px;
    font-weight: bold;
}

input[type="date"]{
    font-family: var(--main-font);
    color: var(--txt-color);
}

::placeholder{
    color: var(--txt-color);
    font-family: var(--main-font);
}

.buttons-container{
    display: flex;
    column-gap: 30px;
}

.btn-generate {
    display: block;
    margin: auto;
    width: 120px;
    height: 40px;
    background-color: var(--color-2);
    border-radius: 6px;
    border-style: solid;
    color: var(--txt-color);
    transition: all 0.2s;
    cursor: pointer;
}

.btn-generate:hover{
    background-color: var(--color-3);
}

.btn-add-person{
    background-color: var(--color-7);
}

.btn-add-person:hover{
    background-color: var(--color-8);
}

.btn-clean{
    background-color: var(--color-6);
    color: var(--txt-color);
    font-weight: 600;
}

.btn-clean:hover{
    background-color: var(--color-9);
}

.add-person{
    width: 2rem;
    height: 2rem;
}

.box-reference {
    box-sizing: border-box;
    position: relative;
    padding: 8px;
    margin-bottom: 30px;
    background-color: var(--color-4);
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: var(--border-color);
}

.config-reference {
    color: var(--txt-color-2);
    font-size: 18px;
    text-align: justify;
    overflow-wrap: break-word;
}

.button-copy {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    transition: all 0.3s;
}


.button-copy:hover{
    opacity: 0.8;
    cursor: pointer;
}

.footer {
    background-color: var(--bg-footer);
    color: var(--text-fixed);
    width: 100%;
    min-height: 60px;
    margin-top: auto;
    padding: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 425px){
    .header{
        justify-content: center;
    }

    .main-container{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title{
        font-size: 3rem;
    }

    .name-page{
        p{
            margin: 30px;
        }  
    }

    .subtittle-container{
        display: block;
        margin: 30px;
    }

    .footer{
        margin-top: 50px;
    }

    .buttons-container{
        display: block;
    }

    .btn-generate{
        margin-bottom: 5px;
    }

}
